@import '../../styles/style.scss';

#skills {
    
    width: 100%;
    padding: 150px 0;
    margin: 0 auto;

    h2 {
        font-family: caveat;
        font-size: 5rem;
    }

    .skills-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 70px;
        margin-top: 40px;

        .flip-card {
            width: 30%;
            height: 400px;;
            background-color: transparent;
            border: 1px solid $light-background-color;
            border-radius: 25% 10%;
            perspective: 1000px; /* Remove this if you don't want the 3D effect */

            &.flip-card:hover .flip-card-inner {
                transform: rotateY(180deg);
              }

            .flip-card-inner {

                position: relative;
                width: 100%;
                height: 100%;
                transition: transform 0.8s;
                transform-style: preserve-3d;

                .flip-card-front, .flip-card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden; /* Safari */
                    backface-visibility: hidden;
                  }

                .flip-card-front {

                    background-color: $white;
                    color: $main-color;
                    border-radius: 25% 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    .custom-icons {
                        font-size : 6em;
                    }

                    h3 {
                        font-family: caveat;
                        font-size: 4rem;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
              
                .flip-card-back {
                    background-color: $second-color;
                    color: white;
                    transform: rotateY(180deg);
                    padding: 50px;
                    border-radius: 25% 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .text-container-card-back {

                        h3 {
                            font-size: 2.75rem;
                            color: $main-color;
                            font-weight: 500;
                        }
        
                        p {
                            color: white;
                            margin-top: 35px;
                        }
                    }
    
                    .custom-icons-2 {
                        display: flex;
                        flex-direction: column;
                        margin-left: 15px;
                        gap: 10px;
                        font-size : 4em;
                        color: $light-background-color;
                    }
                }   
            } 
        }
    }
}